<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Just Relax</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/titleScreen.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/intro.css" />
</head>
<body>
  <main id="game">

    <div id="introSceneContinue">[ Continue ]</div>
    
    <div id="screen">

      <div id="titleScreen">
        <h1 id="title">JUST RELAX</h1>
        <h4 class="blink button" id="clickHereToBegin">[ Click Here To Begin ]</h4>
        <p id="credits">Created by:  Ben Dunham, Kevin Funez, Chynna Lew, Diego Serafico, Melissa Stachz-Miller</p>
      </div>

      <div id="disclaimer">
        <p>This game is purely fictional. Any resemblance to people or entities dead or alive is 100% coincidental.</p>
        <h4 class="blink button" id="continueToIntro">[ Continue ]</h4>
      </div>

      <div id="introScene">
        <p id="line1">Spames: Hello students! Welcome to  ~Spepicodus~ programming bootcamp!</p>
        <h3 class="blink" id="pressEnter1">[ click the continue button to view the next line ]</h3>
        <p id="introLine2">Spames: My name is ~Spames~ and I will be your instructor for this course.</p>
      </div>
    </div>
  </main>
</body>
</html>