<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Just Relax</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/titleScreen.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/intro.css" />
    <link rel="stylesheet" href="~/css/credits.css" />
    <link rel="stylesheet" href="~/css/player.css" />
    <link rel="stylesheet" href="~/css/create.css" />
</head>
<body>
  <main id="game">

    <div id="introSceneContinue" class="continueButton">[ Continue ]</div>
    <div id="createSceneContinue" class="continueButton">[ Continue ]</div>
    
    <div id="health">
      <p id=wellnessText>Wellness Level</p>
      <div id="wellnessBar"></div>
    </div>

    <div id="screen">
      @RenderBody()
    </div>

    <div id="otherText"></div>

    <div id="gameTextBox">
      <form id="gameTextBoxForm">
        <input type="text" form="gameTextBoxForm" placeholder="Type your command here:" maxlength="50" id="gameTextBoxInput">

        <input type="submit" value="Submit" id="gameTextBoxSubmit">
      </form>
    </div>

  </main>
</body>
</html>
  