#introLine2, #introLine3, #introLine3, #introLine4, #introLine5, #introLine6, #pressEnter1, #startMusic, #playerLine1Continue{
  display: none;
}

#pressEnter1{
  color: white;
  text-align: center;
  font-size: small;
  position: absolute;
  bottom:10px;
}

#startMusic{
  text-align: center;
}
#startMusic:hover{
  color: white;
  cursor: crosshair;
}

#playerLine1Continue{
  text-align: center;
  font-size: medium;
}

