body {
  background-color: black;
  color: greenyellow;
  font-family: "Courier New", Times, serif;
  position: relative;
}

#game {
  margin: auto;
  margin-top: 20px;
  height: 500px;
  width: 600px;
  border: 6px solid greenyellow;
  position: relative;
}

#screen{
  overflow-y: scroll;
  white-space: initial;
  margin:auto;
  margin-top: 20px;
  height: 300px;
  width: 500px;
  border: 1px dashed greenyellow;
  padding: 10px;
  position: relative;
}

#screen::-webkit-scrollbar {
  width: 12px;
}

#screen::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
  background-color: black;
}

#disclaimer, #introScene {
  display: none;
}
#titleScreen {
  display: block;
}

.button{
  text-align: center;
  font-size: medium;
}

.button:hover {
  cursor: crosshair;
  color: white;
}

#lofiGirl{
  opacity: 50%;
  display: none;
  position: absolute;
  margin-left: 75px;
  height: 100%;
}

a {
  color: greenyellow;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.continue {
  text-align: center;
  font-size: medium;
}

.continue:hover {
  color:white;
  cursor: crosshair;
}

#gameTextBox {
  position:absolute;
  bottom:0px;
  left:10px;
  width:75%;
  display:none;
}

input[type=text]#gameTextBoxInput {
  color: greenyellow;
  background-color: black;
  /* position: absolute; */
  float:left;
  border: 1px solid greenyellow;
  width: 40%;
  margin-top:20px;
}

input[type=text]#gameTextBoxInput:focus {
  color: greenyellow;
  background-color: black;
  /* position: absolute; */
  border: 1px solid greenyellow;
  width: 40%;
  outline: greenyellow;
}

input[type=text] {
  color: greenyellow;
  background-color: black;
  border: 1px solid greenyellow;
}

input[type=text]:focus {
  color: greenyellow;
  background-color: black;
  border: 1px solid greenyellow;
}

#wellnessBox {
  display: none;
  position: absolute;
  bottom: 80px;
  right: 40px;
  z-index: 100;
  background-color: black;
}

audio {
  display: block;
  position: absolute;
  margin-left: 30%;
  top: 600px;
}

#otherText {
  display:inline-block;
  margin:50px 0 0 10px;
}